a {
    color: inherit;
    text-decoration: inherit;
}

#track-detail-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#background-artwork {
    z-index: -8000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: center/cover;
    -webkit-filter: opacity(20%) blur(10px);
    filter: opacity(20%) blur(10px);
}

h2 {
    font-size: 3em;
}

.panel {
    position: relative;
    margin: 50px;
}

.panel-info {
    min-width: 250px;
    max-width: 20%;
}

#track-info-data {
    padding: 0;
    list-style-type: none;
}

#track-info-data li {
    margin: 10px 0;
    font-size: 1.3em;
}

#track-info-data li.separator::after {
    content: "\00a0";
}

#track-info-data .fa {
    margin-right: 5px;
}

#track-detail-links {
    margin-top: 40px;
    padding: 0;
    list-style-type: none;
}

#track-detail-links li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;

    cursor: pointer;
    color: #80cbc4;
    border: 1px solid #80cbc4;
    border-radius: 5px;
}

#track-detail-links li:hover {
    color: black;
    background-color: #80cbc4;
}

.panel-artwork {
    width: 640px;
}

#back-button {
    font-size: 1.2em;
    color: #80cbc4;
}

.album-artwork {
    opacity: 0;
    border-radius: 3px;
    box-shadow: 0 0 10px 0px black;
}

.dim {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.equalizer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.equalizer {
    height: 200px;
    width: 100%;
    align-items: center !important;

    animation: opacity 0.3s ease-in;
}